.Projects__Header {
  h3 {
    color: #302533;
    font-family: "Montserrat";
    font-size: 2rem;
    padding-left: 1rem;
  }

  .close-btn {
    position: absolute;
    right: 0;
    width: 2rem;
    margin-right: 2rem;
    transition-duration: 0.4s;

    &:hover {
      transform: rotate(-10deg);
      cursor: pointer;
    }
  }
}
