.projects-header {
  h3 {
    color: #302533;
    font-family: "Montserrat";
    font-size: 2rem;
    padding-left: 1rem;
  }

  h3:before {
    -webkit-box-shadow: -30px -30px 0px 0px rgba(5, 205, 138, 1);
    -moz-box-shadow: -30px -30px 0px 0px rgba(5, 205, 138, 1);
    box-shadow: -30px -30px 0px 0px rgba(5, 205, 138, 1);
    content: "";
  }

  .close-btn {
    position: absolute;
    right: 0;
    width: 2rem;
    margin-right: 2rem;
    transition-duration: 0.4s;

    &:hover {
      transform: rotate(-10deg);
      cursor: pointer;
    }
  }
}
