.SingleRepo {
  margin: 2rem 1rem;
  .SingleRepo__Header {
    margin-bottom: 0.6rem;

    a {
      color: #1e1c24;
      font-family: "Consolas", "Montserrat";
      text-decoration: none;
      font-size: 1.3rem;
    }
    svg {
      vertical-align: middle;
      fill: #5cd89f;
    }
  }
  .SingleRepo__Body {
    color: #5cd89f;
    font-family: "Montserrat";
    margin-bottom: 0.5rem;
    text-align: justify;
  }

  .SingleRepo__Footer {
    color: #c9c9c9;
    font-family: "Montserrat";
  }

  &:first-child {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
