@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&amp;family=Roboto:wght@400;700&amp;display=swap";

* {
  font-family: "Roboto";
  color: #fff;
}

body,
html,
#root,
.App {
  background-color: #1e1c24;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar-brand svg {
  width: 70px;
  display: inline-block;
  cursor: pointer;
}

.navbar-item {
  cursor: pointer;
  margin-right: 1rem;
  font-family: "Segoe UI";
  font-size: 1.1rem;
  transition-duration: 0.5s;
  text-transform: capitalize;
}

.navbar-item:hover {
  color: #5cd89f;
}

.navbar-item:last-child {
  margin-right: 0;
}

.h-100 {
  height: 100vh;
}

.jumbotron {
  padding-top: 100px;
}

.jumbo-left h1,
.jumbo-left h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.jumbo-left h1 {
  font-size: 3.3rem;
  margin-bottom: 0;
  margin-top: 50px;
}
.jumbo-left h4 {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  margin-top: 0;
}

.jumbo-left button {
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 20px;
  width: 12.5rem;
  height: 3.125rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  background-color: #5cd89f;
  cursor: pointer;

  -webkit-box-shadow: 5px 5px 0px 0px rgba(42, 219, 126, 1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(42, 219, 126, 1);
  box-shadow: 5px 5px 0px 0px rgba(42, 219, 126, 1);
  transition-duration: 0.5s;
}

.jumbo-left button:hover {
  -webkit-box-shadow: 10px 10px 0px 0px rgba(42, 219, 126, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(42, 219, 126, 1);
  box-shadow: 10px 10px 0px 0px rgba(42, 219, 126, 1);
}

.jumbo-right {
  flex-direction: row;
  justify-content: center;
}

.person {
  width: 10rem;
}

.desk {
  width: 29rem;
}

.front-page-socials {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.social-item {
  padding: 2px;
}

.social-item svg {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.social-item svg path {
  fill: #fff;
  transition-duration: 0.4s;
}

.social-item:hover svg path {
  fill: rgba(42, 219, 126, 1);
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-front {
  z-index: 1050;
}

.preloader {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition-duration: 0.5s;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
}

.preloader img {
  width: 140px;
}

.page-contact {
  z-index: 1040;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.contact-image {
  width: 100%;
}

form {
  width: 100%;
  background-color: #f3f4f6;
  padding: 0 2rem 2rem 2rem;
}

form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #332b3b;
  font-size: 20px;
  font-family: "Segoe UI";
  font-weight: bold;
  margin: 10px;
}

form label input {
  text-decoration: none;
  border: none;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid #332b3b;
  color: #332b3b;
  font-size: 20px;
  font-family: "Segoe UI";
  font-weight: bold;
  box-sizing: border-box;
  transition-duration: 0.4s;
  background-color: transparent;
}

form label input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #5cd89f;
}

textarea:focus {
  border: 2px solid #5cd89f;
}

textarea {
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  transition-duration: 0.4s;
}

textarea {
  width: 100%;
  border: 2px solid #332b3b;
  color: #332b3b;
  font-weight: bold;
  font-family: "Segoe UI";
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.form-header {
  width: 100%;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
}

.form-header span {
  text-align: center;
  color: #332b3b;
  font-family: "Consolas";
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}

form button {
  margin-top: 20px;
  width: 50%;
  height: 60px;
  font-weight: bold;
  font-family: "Segoe UI";
  font-size: 22px;
  color: #fff;
  background-color: #302533;
  z-index: 40;
  transition-duration: 0.5s;
  border: none;
  outline: none;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(51, 43, 59, 1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(51, 43, 59, 1);
  box-shadow: 5px 5px 0px 0px rgba(51, 43, 59, 1);
}

form button:hover {
  -webkit-box-shadow: 10px 10px 0px 0px rgba(51, 43, 59, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(51, 43, 59, 1);
  box-shadow: 10px 10px 0px 0px rgba(51, 43, 59, 1);
  cursor: pointer;
}

.contact-close-btn {
  margin: 1.6rem 1.6rem 0 0;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contact-close-btn img {
  transition-duration: 0.5s;
  width: 2rem;
}

.contact-close-btn:hover img {
  transform: rotate(-10deg);
}

.mock-background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  background-image: url("../svgs/contact.svg");
  background-size: cover;
  background-position-x: 50%;
  filter: blur(4px);
  background-repeat: no-repeat;
}

.contact-wrapper {
  z-index: 1300;
}
