@import "breakpoints";

// MEDIUM
@media (max-width: $md) {
  .person,
  .desk {
    display: none;
  }

  .navbar {
    padding: 10px 20px;
  }

  .jumbotron {
    padding-top: 10px;
  }

  .jumbo-left h1 {
    margin-top: 0;
  }

  .jumbo-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
  }
}
