.Jumbotron {
  padding-top: 100px;

  &__Left h1,
  &__Left h4 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

  &__Left {
    h1 {
      font-size: 3.3rem;
      margin-bottom: 0;
      margin-top: 50px;
    }

    h4 {
      font-size: 1.1rem;
      letter-spacing: 0.5px;
      margin-bottom: 10px;
      margin-top: 0;
    }

    &--btn {
      text-transform: uppercase;
      text-decoration: none;
      outline: none;
      border: none;
      font-size: 20px;
      width: 12.5rem;
      height: 3.125rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      margin-top: 1rem;
      background-color: #5cd89f;
      cursor: pointer;

      -webkit-box-shadow: 5px 5px 0px 0px rgba(42, 219, 126, 1);
      -moz-box-shadow: 5px 5px 0px 0px rgba(42, 219, 126, 1);
      box-shadow: 5px 5px 0px 0px rgba(42, 219, 126, 1);
      transition-duration: 0.5s;

      &:hover {
        -webkit-box-shadow: 10px 10px 0px 0px rgba(42, 219, 126, 1);
        -moz-box-shadow: 10px 10px 0px 0px rgba(42, 219, 126, 1);
        box-shadow: 10px 10px 0px 0px rgba(42, 219, 126, 1);
      }
    }
  }

  &__Right {
    flex-direction: row;
    justify-content: center;
    .person {
      width: 10rem;
    }
    .desk {
      width: 29rem;
    }
  }
}
