.page-contact {
  display: block;
  z-index: 1400;
  position: absolute;
  top: 100%;
  visibility: hidden;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(42, 219, 126, 1) 0%,
    rgba(92, 216, 159, 1) 100%
  );
}

.contact-wrapper {
  background-color: #fff;
  margin: 2rem 0;
  border-radius: 2px;
}
