.contact-header {
  width: 100%;
  position: relative;

  h3 {
    font-family: "Montserrat";
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: bold;
    text-align: center;
    color: #302533;
    font-family: "Montserrat";
  }

  .close-btn {
    position: absolute;
    right: 0;
    width: 2rem;
    margin-right: 1rem;
    transition-duration: 0.4s;

    &:hover {
      transform: rotate(-10deg);
      cursor: pointer;
    }
  }
}
