.modal {
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;

  visibility: hidden;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    height: 5rem;

    .modal-error,
    .modal-spinner {
      visibility: hidden;
      opacity: 0;
      display: none;
    }

    .modal-error,
    .modal-success {
      visibility: visible;
      width: 100%;
      font-size: 1.15rem;
      text-align: center;
      font-family: "Montserrat";
      color: #332b3b;
    }
  }
}
