form button {
  margin-top: 20px;
  width: 50%;
  height: 60px;
  font-weight: bold;
  font-family: "Segoe UI";
  font-size: 22px;
  color: #fff;
  background-color: #302533;
  z-index: 40;
  transition-duration: 0.5s;
  border: none;
  outline: none;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(51, 43, 59, 1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(51, 43, 59, 1);
  box-shadow: 5px 5px 0px 0px rgba(51, 43, 59, 1);
}

form button:hover {
  -webkit-box-shadow: 10px 10px 0px 0px rgba(51, 43, 59, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(51, 43, 59, 1);
  box-shadow: 10px 10px 0px 0px rgba(51, 43, 59, 1);
  cursor: pointer;
}
