@import "./Breakpoints.scss";

@media (max-width: $md) {
  .person,
  .desk {
    display: none;
  }

  .navbar {
    padding: 10px 20px;
  }

  .jumbotron {
    padding-top: 50px;
  }

  .jumbo-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .page-contact {
    background: #fff;
  }

  .contact-header h3 {
    margin-top: 10px;
    padding-right: 1rem;
    font-size: 1.6rem;
    text-align: left;
  }

  .contact-header .close-btn {
    text-anchor: middle;
  }

  .projects-footer {
    img {
      width: 60%;
    }
  }
  .aboutme-card {
    img {
      width: 80%;
    }
  }
}
