@import "./Breakpoints.scss";

@media (max-width: $md) {
  .person,
  .desk {
    display: none;
  }

  .Jumbotron {
    padding-top: 50px;
    &__Left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  .Navbar {
    padding: 10px 20px;
  }

  .Page__Contact {
    background: #fff;
  }

  .Contact__Header h3 {
    margin-top: 10px;
    padding-right: 1rem;
    font-size: 1.6rem;
    text-align: left;
  }

  .Contact__Header .close-btn {
    text-anchor: middle;
  }

  .Projects__Footer {
    img {
      width: 60%;
    }
  }

  .Aboutme__AccordionBody {
    text-align: justify;
  }
}
